Flask==3.0.0
pydub==0.25.1
Flask-SocketIO==5.3.6
python-socketio==5.10.0
Flask-CORS==4.0.0
Pillow==10.1.0
Werkzeug==3.0.1
Flask-Mail==0.9.1
beautifulsoup4==4.12.2
requests==2.31.0
python-magic==0.4.27
moviepy==1.0.3
